$button-type-map: ( "custom-type", "outline-secondary", "danger", "light", "dark", "secondary", "primary" );

$button-theme-map: ( "light", "dark" );

$button-state-map: ( "hover", "", "disabled" );

$button-size-map: ( "sm", "md", "lg" );
